---
import BaseLayout from '../../layouts/BaseLayout.astro'
import AbilityList from '../../components/AbilityList.astro'
import { Image } from 'astro:assets'
const request = await fetch(
  `https://pokeapi.co/api/v2/pokemon/${Astro.params.name}`
)
const data = await request.json()
---

<BaseLayout title={data.name.charAt(0).toUpperCase() + data.name.slice(1)}>
  <main class='w-full'>
    <h1 class='text-center text-3xl font-bold'>
      {data.name.charAt(0).toUpperCase() + data.name.slice(1)}
      <span class='text-sm font-normal text-gray-500'>
        N.ยบ {data.id.toString().padStart(3, '0')}
      </span>
    </h1>
    <Image
      class='mx-auto mt-4 rounded-md bg-gray-300'
      src={data.sprites.other['official-artwork'].front_default}
      alt={data.name}
      width={300}
      height={300}
    />
    <div class='mt-4 rounded-lg bg-gray-300 p-2'>
      <h3 class='font-semibold'>Puntos de base</h3>
      <ul>
        <li>
          <strong>Altura:{' '}</strong>{data.height / 10} m
        </li>
        <li>
          <strong>Peso:{' '}</strong>{data.weight / 10} kg
        </li>
        <li class='flex gap-2'>
          <strong>Habilidades:{' '}</strong>
          <AbilityList abilities={data.abilities} />
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
