---
import BaseLayout from '../layouts/BaseLayout.astro'
import CardList from '../components/CardList.astro'
---

<BaseLayout title='Welcome to Astro.'>
  <main class='p-4 text-gray-800'>
    <h1 class='text-4xl font-semibold'>
      Welcome to <strong class='text-gradient'>Pokedex</strong>
    </h1>
    <CardList />
  </main>
</BaseLayout>
