---
import { Icon } from 'astro-icon'
import ThemeIcon from './ThemeIcon.astro'
---

<nav class='flex w-full bg-gray-500 px-4 py-3 text-gray-100'>
  <ul class='flex w-full justify-between'>
    <li>Search</li>
    <li>
      <div>
        <ThemeIcon />
      </div>
    </li>
  </ul>
</nav>
